* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --text: 1.5rem;
    --head: calc(1rem + 5vw);
    --bg-color: #b83bf6;
}

body {
    font-family: "Poppins", sans-serif;
}

.hero-section {
    min-height: 100vh;
    background-image: linear-gradient(rgb(4, 9, 30, 0.7), rgb(4, 9, 30, 0.7)), url(https://raw.githubusercontent.com/Aryan-Srivastava/assets/master/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    animation: slide 1s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color: white;
    transform: translateY(-100%);
    animation: movedown 850ms ease-in 1s forwards;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    padding-top: 10px;
    font-size: 17px;
    background: transparent;
    transition: opacity 250ms linear;
    width: 14%;
}

.button:hover {
    border: 1px solid #eed66d;
    background: #eed66d;
    transition: 1s;
}

@keyframes movedown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.hero-text {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* background transition */

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}


/* background k transparency over layer */

.hero-text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    top: 0;
    opacity: 0.2;
}

.hero-text h2 {
    font-size: var(--head);
}

.hero-text p {
    font-size: 3rem;
}


/* names kam here */

.names {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    color: #160e1a;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.name-col {
    flex: 31%;
    background: #6e7ab7b3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip: padding-box;
    border-radius: 45px;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.name-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/*  Cards css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 360px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: .5s;
    overflow: hidden;
    object-fit: cover;
}

.card-image img {
    display: block;
    width: 100%;
}

.social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    display: flex;
    z-index: 3;
}

.social li {
    list-style-type: none;
}

.social li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 24px;
    color: #333;
    margin: 0 5px;
    transition: .5s;
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden;
}

.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detail h2 {
    margin: 0;
    color: #333;
}

.Title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

.card:hover img {
    opacity: .4;
    transition: .5s;
}

.card:hover li a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.card:hover :nth-last-child(1) a {
    transition-delay: .1s;
}

.card:hover :nth-last-child(2) a {
    transition-delay: .2s;
}

.card:hover :nth-last-child(3) a {
    transition-delay: .3s;
}

.card:hover :nth-last-child(4) a {
    transition-delay: .4s;
}

.card:hover .card-image {
    transform: translateY(-120px);
    transition: .5s;
}

.heading {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: -3px;
    text-align: center;
    color: #160e1a;
    position: relative;
}

.heading:after {
    content: "";
    width: 12rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -.4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card {
    display: flex;
    padding: 16%;
    transform: translateX(auto);
}

.CARDS {
    display: flex;
    padding: 4%;
    justify-content: space-between;
}